
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Intro</title>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/assets/css/all.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">
    <link href="~/assets/css/default.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.toast.min.css" rel="stylesheet" />
</head>
<body>
    <div class="configure-modal">
        <div class="configure-header">
        </div>
        <div class="configure-body">
            <div class="bdy-title">
                <h1><i class="fa fa-cogs"></i> CONFIGURE YOUR PRODUCT</h1>
                <p>Please configure your product for first time to make it run.</p>
            </div>
            <div class="step-list">
                <ul>
                    <li>
                        <span class="step-count">1.</span>
                        <div class="step-dtl">
                            <i class="fa fa-landmark"></i>
                            <span class="add-loc">Add Facility</span>
                            <p>Add key information like billing/shipping address & VAT/TIN details of your warehouse.</p>
                        </div>
                    </li>
                    <li>
                        <span class="step-count">2.</span>
                        <div class="step-dtl">
                            <i class="fa fa-tv"></i>
                            <span class="add-loc">Add Channel</span>
                            <p>Configure upto 4 channels,after which you can manage your order & inventory on them.</p>
                        </div>
                    </li>
                    <li>
                        <span class="step-count">3.</span>
                        <div class="step-dtl">
                            <i class="fa fa-file-invoice"></i>
                            <span class="add-loc">Invoice Configuration</span>
                            <p>Configure the layout of your invoice and the field appearing on it in this sample step.</p>
                        </div>
                    </li>
                </ul>
                <a href="@Url.Action("Step_1","Configuration")">CONFIGURE NOW</a>
            </div>
        </div>
    </div>
    <script src="~/assets/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/assets/scripts/all.min.js"></script>
    <script src="~/assets/scripts/umd/popper.min.js"></script>
    <script src="~/assets/scripts/bootstrap.min.js"></script>
    <script src="~/assets/scripts/jquery.validate.js"></script>
    <script src="~/assets/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/assets/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/assets/scripts/jquery.toast.min.js"></script>
    <script src="~/assets/scripts/common.js"></script>
</body>
</html>
