<div class="inside-top">
    <div class="pull-left base-top">
        <span class="pull-left">Products</span>
        <div class="top-menu ptm">
            <ul>
                <li>
                    <a class="top-menu-active" href="javascript:void(0)" step="enable">
                        Enabled
                    </a>
                </li>
                <li>
                    <a step="disable" href="javascript:void(0)">
                        Disabled
                    </a>
                </li>
                <li>
                    <a step="all" href="javascript:void(0)">
                        All
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pull-right base-top2">
        <ul class="report-action">
            <li>
                <a href="javascript:void(0)" class="btn btn-info">Add Product</a>
            </li>
            <li>
                <input type="text" id="filter-text-box" class="form-control" placeholder="Search this list..." oninput="onFilterTextBoxChanged()" />
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-sync"></i></a></li>
            <li>
                <a href="javascript:void(0)"><i class="fa fa-download"></i> <i class="fa fa-caret-down"></i></a>
            </li>
        </ul>
    </div>
</div>