html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    color: #333;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    line-height: 1.42857;
    overflow-x: hidden;
}

img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #121214;
    font-weight: 200;
    letter-spacing: -1px;
    margin: 0;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}

p {
    color: #777;
    line-height: 24px;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    color: #0091ae;
}

    a:hover {
        text-decoration: none;
        color: #337ab7;
        transition: all 0.4s ease-in-out;
    }

    a:focus {
        text-decoration: none;
    }

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.reg-base {
    background: #f5f5f5;
}

.lhdr {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    z-index: auto;
    height: 50px;
}

.lbdy {
}

.login-base {
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 30px 40px;
    background: #ffffff;
    border: 1px, solid, #cbcbcb;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    height: auto;
    overflow: hidden;
}

.login-form h1 {
    text-align: center;
}

.login-form p {
    text-align: center;
}

.login-form .form-group p {
    margin: 0px;
    line-height: 20px;
    text-align: left;
    font-weight: 600;
}

.cstform .form-group {
    width: 100% !important;
    margin-left: 0px !important;
}

.login-form .check {
    margin-bottom: 10px;
}


/* The check */

.check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0px;
    margin-top: -8px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .check span:nth-child(1) {
        font-size: 13px;
        margin-top: 5px;
        float: left;
    }


    /* Hide the browser's default checkbox */

    .check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
}


/* When the checkbox is checked, add a blue background */

.check input:checked ~ .checkmark {
    background-color: #fff;
    border-color: #00a4bd;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.check input:checked ~ .checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.check .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 9px;
    border: solid;
    border-color: #00a4bd;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.frgtPass {
    font-weight: 600;
    border-bottom: 1px solid;
    margin-top: -5px;
}

.orLabelBase {
    text-align: center;
    margin-bottom: 25px;
}

.orLabel {
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    z-index: 9999;
}

.orLabelBase hr {
    margin: 0px;
    margin-top: -10px;
}

.googleBtn span:nth-child(1) {
    float: left;
    background: #fff;
    padding: 10px;
    margin-left: -12px;
    margin-top: -6px;
    margin-bottom: -5px;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.social-login {
    text-align: center;
}

    .social-login > li {
        display: inline-block;
        margin-right: 15px;
    }

        .social-login > li > a {
            display: block;
            /* padding: 15px; */
            /* border: 1px solid #ccc; */
            border-radius: 50px;
            font-size: 35px;
        }

        .social-login > li:nth-child(1) > a {
            color: #E62E04;
        }

        .social-login > li:nth-child(2) > a {
            color: #3C5A99;
        }

        .social-login > li:nth-child(3) > a {
            color: #04A9F4;
        }

.form-control {
    background: #fff;
    border-color: rgb(203, 214, 226) rgb(203, 214, 226) rgb(203, 214, 226);
    border-radius: 3px;
    font-size: 12px;
    height: 35px;
    box-shadow: none;
}

    .form-control:focus {
        border: solid 1px rgb(21, 137, 238);
        box-shadow: 0 0 3px #0070d2;
    }

.lgnttl {
    text-align: center;
    margin-top: 20px;
}

    .lgnttl > p {
        font-size: 1.2em;
    }

.tpara {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

    .tpara > span:nth-child(1) {
        font-size: 18px;
        border-bottom: 2px solid #ea2330;
        font-weight: 600;
    }

    .tpara > span:nth-child(2) {
        font-weight: 600;
        color: #808080;
        margin-top: 10px;
    }

        .tpara > span:nth-child(2) a {
            color: #4050ce !important;
            font-weight: 700;
        }

.btn-success {
    background: #ea2330;
    color: #fff;
    border: 1px solid #ea2330;
    border-color: #ea2330;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 2px 0px #cdcdcd;
    -moz-box-shadow: 0px 2px 2px 0px #cdcdcd;
    -ms-box-shadow: 0px 2px 2px 0px #cdcdcd;
    box-shadow: 0px 2px 2px 0px #cdcdcd;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active,
    .btn-success.active,
    .open .dropdown-toggle.btn-success {
        background: #ea2330;
        border-color: #ea2330;
        outline: none;
        box-shadow: 0px 2px 2px 0px #cdcdcd;
    }

.input-validation-error {
    border-color: #f2545b !important;
    box-shadow: 0 0 0 1px #f2545b !important;
}

.field-validation-error {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 500;
    color: #f2545b !important;
    display: block;
}

.rgbse {
    width: 800px;
    display: block;
    margin: 0 auto;
    background: #ffffff;
    border: 1px, solid, #cbcbcb;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    /* margin-bottom: 30px; */
    height: 580px;
    overflow: hidden;
    margin-top: 20px;
}

.rgdes {
    background: url(../Images//login-bg.jpg)repeat center;
    /* background-color: red; */
    height: 100%;
    display: inline-block;
    width: 350px;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.rgfrm {
    width: 450px;
    height: 100%;
}

    .rgfrm .login-base {
        width: 100%;
        box-shadow: none;
    }

.overlay {
    padding: 20px;
}

.rgfrm .form-group label {
    float: left;
    margin-right: 10px;
}

.loading-center {
    z-index: 1000;
    margin: 15% auto;
    padding: 10px;
    width: 55px;
    background-color: White;
    border-radius: 2px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    filter: alpha(opacity=100);
    opacity: 1;
}

    .loading-center img {
        height: 35px;
        width: 35px;
    }

.modal {
    background: rgba(0, 0, 0, 0.8);
}


/*SIdebar menu section*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #262F3D;
    width: 14%;
    /*z-index: 9999;*/
}

.lsec {
    border-bottom: 1px solid #404854;
    padding: 10px;
    height: 55px;
}

.hsec {
    border-bottom: 1px solid #404854;
    transition: all 0.4s ease-in-out;
}

    .hsec span {
        display: block;
        color: #4fc3f7 !important;
        padding: 15px;
        font-size: 1.1em;
        font-weight: 600;
    }

        .hsec span svg {
            margin-right: 5px;
        }

    .hsec:hover {
        background: rgba(255, 255, 255, .08) !important;
        cursor: pointer;
    }

.navigation-menu {
    height: 480px;
    overflow: auto;
    margin-right: 2px;
}

    .navigation-menu::-webkit-scrollbar {
        width: 5px;
    }

    .navigation-menu::-webkit-scrollbar-track {
        border-radius: 10px;
        padding: 10px;
        display: none;
    }

    .navigation-menu::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(255, 255, 255, .7);
    }

    .navigation-menu > ul > li {
        margin-bottom: -10px;
    }

        .navigation-menu > ul > li > a {
            display: block;
            padding: 15px 10px;
            font-size: 1.2em;
            font-weight: 600;
            border-bottom: 1px solid #404854;
            color: #fff;
            transition: all 0.4s ease-in-out;
            height: 60px;
        }

            .navigation-menu > ul > li > a > p {
                line-height: 20px;
                font-size: 12px;
                margin: 0px;
            }

            .navigation-menu > ul > li > a:hover {
                background: rgba(255, 255, 255, .08);
                cursor: pointer;
            }

            .navigation-menu > ul > li > a svg {
                margin-right: 5px;
                float: right;
                -moz-transition: all 0.4s linear;
                -webkit-transition: all 0.4s linear;
                transition: all 0.4s linear;
            }

.navigation-menu-active {
    background: rgba(255, 255, 255, .08) !important;
}

.down {
}

.click-remove {
    border-bottom: 1px solid #19212B !important;
    background: #19212B !important;
    transition: all 0.4s ease-in-out;
}

    .click-remove > p {
        display: none;
    }

    .click-remove > svg {
        -moz-transform: rotate(180deg) !important;
        -webkit-transform: rotate(180deg) !important;
        transform: rotate(180deg) !important;
    }

.hm3 {
    height: 90px !important;
    transition: all 0.4s ease-in-out;
}

.hm4 {
    height: 120px !important;
    transition: all 0.4s ease-in-out;
}

.hm5 {
    height: 150px !important;
    transition: all 0.4s ease-in-out;
}

.hm6 {
    height: 180px !important;
    transition: all 0.4s ease-in-out;
}

.hm7 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.smenu {
    background: #19212B;
    margin-bottom: 10px;
    display: block;
    height: 0px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

    .smenu > ul > li {
        display: inline-block;
        width: 100%;
    }

        .smenu > ul > li > a {
            padding: 5px 10px;
            display: block;
            width: 100%;
            font-size: 1.1em;
            color: rgba(255, 255, 255, .7);
            font-weight: 400;
        }

            .smenu > ul > li > a > svg {
                margin-right: 10px;
            }

            .smenu > ul > li > a:hover {
                background: rgba(255, 255, 255, .08) !important;
            }

.right-section {
    right: 0;
    position: fixed;
    height: 100%;
    width: 86%;
    top: 0;
}

.right-content-section {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.top-bar {
    background: #262F3D;
    height: 55px;
    display: block;
    width: 100%;
}

.inside-top {
    display: inline-block;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}

.base-top span:nth-child(1) {
    font-size: 1.4em;
    padding: 15px;
    font-weight: 600;
}

.top-menu {
    float: left;
    display: inline-block;
    margin-left: 55px;
}

    .top-menu li {
        display: inline-block;
    }

        .top-menu li a {
            display: block;
            padding: 17px 10px;
            font-size: 1em;
            font-weight: 600;
            border-bottom: 2px solid #fff;
            /* color: #808080; */
        }

.top-menu-active {
    border-bottom: 2px solid #ff7a59 !important;
    color: #ff7a59 !important;
}

.right-nav-menu {
    float: right;
}

    .right-nav-menu > ul > li {
        display: inline-block;
        float: left;
    }

        .right-nav-menu > ul > li > a {
            display: block;
            padding: 17px;
            font-size: 14px;
            color: #fff;
        }

            .right-nav-menu > ul > li > a:hover {
                background-color: #253342;
            }

            .right-nav-menu > ul > li > a.user-dtl {
                font-size: 14px;
                display: block;
                padding: 27px;
                color: #fff;
            }

                .right-nav-menu > ul > li > a.user-dtl > svg:nth-child(1) {
                    font-size: 20px;
                    margin-right: 10px;
                    float: left;
                    margin-top: -12px;
                }

                .right-nav-menu > ul > li > a.user-dtl > span {
                    float: left;
                    margin-top: -10px;
                }

                    .right-nav-menu > ul > li > a.user-dtl > span > svg {
                        margin-left: 11px;
                        float: right;
                        margin-top: 3px;
                    }

.not-count {
    background: #ff7a59;
    padding: 2px 6px;
    position: absolute;
    margin-top: -28px;
    margin-left: 5px;
    border-radius: 49px;
    display: block;
    font-size: 10px;
}

.arrow_box {
    position: absolute;
    background: #fff;
    /* border: 1px solid #ccc; */
    /* margin-top: 25px; */
    margin-left: 96%;
    margin-top: 11px;
    z-index: 99999999;
}

    .arrow_box:after, .arrow_box:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 13.2px;
        margin-left: -30px;
    }

    .arrow_box:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #cbd6e2;
        border-width: 15px;
        margin-left: -31.4px;
    }

.top-sub-menu {
    display: none;
    position: absolute;
    /* width: 20%; */
    z-index: 9999999;
    right: 5px;
}

.top-sub-menu-inner {
    background: #fff;
    border: 1px solid #cbd6e2;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.pro-base {
    display: inline-block;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #cbd6e2;
}

.pro-img {
    display: block;
    float: left;
    overflow: hidden;
    border-radius: 70px;
    height: 60px;
    width: 60px;
}

    .pro-img img {
        height: 100%;
        width: 100%;
    }

.pro-name {
    float: left;
    display: inline-block;
    margin-left: 10px;
}

    .pro-name span {
        display: block;
        width: 100%;
        line-height: 20px;
    }

.pro-user-name {
    font-size: 16px;
    color: #33475b;
    font-weight: 600;
}

.pro-user-email {
    color: #7c98b6;
    font-size: 12px;
}

.pro-user-setting a {
    font-size: 14px;
    color: #0091ae;
}

.pro-menu {
    border-bottom: 1px solid #cbd6e2;
}

    .pro-menu li {
        display: block;
        width: 100%;
    }

        .pro-menu li a {
            color: #33475b;
            padding: 5px 10px;
            display: block;
            font-size: 14px;
        }

            .pro-menu li a:hover {
                text-decoration: underline;
            }

.pro-footer {
    display: inline-block;
    width: 100%;
}

    .pro-footer span a {
        display: block;
        padding: 5px 10px;
    }

.insidebody {
    height: 100%;
    display: inline-block;
    width: 100%;
    padding: 35px 0px;
}

    .insidebody > form > ul > li {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }

        .insidebody > form > ul > li .btn-link {
            padding: 0px;
        }

.btn-info {
    font-size: 12px;
}

.btn-info {
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.optWrapper > ul > li > label {
    font-weight: normal;
}

.SumoSelect > .CaptionCont {
    margin-top: -7px;
}

.SumoSelect.open > .optWrapper {
    top: 30px;
}


.insidebody hr {
    width: 100%;
    border-top: 2px solid #eeeeee;
}
