
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<input type="hidden" id="downloadPath" value="@System.Configuration.ConfigurationManager.AppSettings["DownloadTemplate"]" />
<div id="import-base"></div>
<script src="@Url.Content("~/React/setting/import.jsx")"></script>
