<div class="topHead">
    <span>Orders</span>
    <div class="inner-menu">
        <div class="left-menu">
            <ul>
                <li>
                    <a class="inner-menu-active" href="javascript:void(0)">
                        All Orders <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        New <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Processing <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Ready To Ship <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Manifested <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Dispatched <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Returns <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Cancelled <span class="count">3</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="right-menu">
        </div>
    </div>
</div>
<div class="filter-section">
    <span>Filter</span>
    <div class="filter-list">
        <ul>
            <li>
                <span>Channel Name</span>
                <select id="channelFilter">
                    <option value="0">Please select</option>
                </select>
            </li>
            <li>
                <span>Payment Type</span>
                <select id="paymentType">
                    <option value="0">Please select</option>
                    <option value="1">Cash On Delivery</option>
                    <option value="2">Prepaid</option>
                </select>
            </li>
            <li>
                <span>Price Range</span>
                <select id="paymentType">
                    <option value="0">Please select</option>
                    <option value="1">Low To High</option>
                    <option value="2">Hight To Low</option>
                </select>
            </li>
            <li>
                <span>Date</span>
                <div class="right-menu">
                    <span class="cal-icon"><i class="far fa-calendar-alt"></i></span>
                    <input type="text" id="goobalDateFilter" readonly class="col-md-12 private-form-control" />
                    <span class="caret-icon"><i class="fa fa-caret-down"></i></span>
                </div>
            </li>
            <li>
                <button id="filterBtn" class="btn btn-success">Search</button>
            </li>
        </ul>
    </div>
</div>
