
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/module_scripts/Orders/orders.js"></script>

<div class="topHead">
    <span>Orders</span>
    <div class="inner-menu">

        <div class="left-menu">
            <ul class="orderStatus">
                <li>
                    <a class="inner-menu-active" type="A" href="javascript:void(0)">
                        All Orders <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" type="N">
                        New <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" type="P">
                        Processing <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Ready To Ship <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Manifested <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Dispatched <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Returns <span class="count">3</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Cancelled <span class="count">3</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="right-menu">
        </div>
    </div>
</div>
<div class="filter-overlay modal left fade" id="filterModal">
    <div class="filter-base">
        <span>Filter <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></span>
        <div class="filter-list">
            <ul>
                <li>
                    <span>Channel Name</span>
                    <select id="channelFilter">
                        <option value="0">Please select</option>
                    </select>
                </li>
                <li>
                    <span>Payment Type</span>
                    <select id="paymentType">
                        <option value="0">Please select</option>
                        <option value="1">Cash On Delivery</option>
                        <option value="2">Prepaid</option>
                    </select>
                </li>
                <li>
                    <span>Price Range</span>
                    <select id="paymentType">
                        <option value="0">Please select</option>
                        <option value="1">Low To High</option>
                        <option value="2">Hight To Low</option>
                    </select>
                </li>
                <li>
                    <span>Date</span>
                    <div class="right-menu">
                        <span class="cal-icon"><i class="far fa-calendar-alt"></i></span>
                        <input type="text" id="goobalDateFilter" readonly class="col-md-12 private-form-control" />
                        <span class="caret-icon"><i class="fa fa-caret-down"></i></span>
                    </div>
                </li>
                <li>
                    <button id="filterBtn" class="btn btn-success">Search</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="data-grid-section">
    <div class="action-area">
        <span class="pull-left"><a href="javascript:Void(0)" data-toggle="modal" data-target="#filterModal"><i class="fa fa-filter"></i>Filter</a></span>
        <div class="action-section pull-right">
            <ul class="report-action">
                <li>
                    <input type="text" id="filter-text-box" class="form-control" placeholder="Search this list..." oninput="onFilterTextBoxChanged()" />
                </li>
                <li><a href="javascript:void(0)"><i class="fa fa-sync"></i></a></li>
                <li>
                    <a href="javascript:void(0)"><i class="fa fa-download"></i> <i class="fa fa-caret-down"></i></a>

                </li>
            </ul>
        </div>
    </div>
    <div id="orderGrid" style="height: 500px;width:100%;" class="ag-theme-balham"></div>
</div>



