@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-title">
    <h2>Dashboard</h2>
    <ul class="breadcrumb">
        <li class="breadcrumb-item">Dashboard</li>
        <li class="breadcrumb-item">Overview</li>
    </ul>
</div>

<div class="inner-menu">
    <div class="left-menu">
        <ul>
            <li>
                <a href="javascript:void(0)">
                    Overview
                </a>
            </li>
            <li>
                <a class="inner-menu-active" href="javascript:void(0)">
                    Sales
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Fulfillment
                </a>
            </li>
        </ul>
    </div>
    <div class="right-menu">
        <span class="cal-icon"><i class="far fa-calendar-alt"></i></span>
        <input type="text" id="goobalDateFilter" readonly class="col-md-12 private-form-control" />
        <span class="caret-icon"><i class="fa fa-caret-down"></i></span>

    </div>

</div>


