
@{
    ViewBag.Title = "Login";
}
<div id="content"></div>
<script src="@Url.Content("~/React/authorization/login.jsx")"></script>

@*<div className="orLabelBase">
    <span className="orLabel">OR Login Using</span>
    <hr />
</div>
<div className="form-group">
    <ul className="social-login">
        <li><a href="javascript:void(0)"><i className="fab fa-google-plus-square"></i></a></li>
        <li><a href="javascript:void(0)"><i className="fab fa-facebook-square"></i></a></li>
        <li><a href="javascript:void(0)"><i className="fab fa-twitter-square"></i></a></li>
    </ul>
</div>*@
