
@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-title">
    <h2>Tools</h2>
    <ul class="breadcrumb">
        <li class="breadcrumb-item">Tools</li>
        <li class="breadcrumb-item">Configuration</li>
    </ul>
</div>

<div class="inner-menu">
    <div class="left-menu">
        <ul>
            <li>
                <a href="javascript:void(0)">
                    Overview
                </a>
            </li>
            <li>
                <a class="inner-menu-active" href="javascript:void(0)">
                    Sales
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Fulfillment
                </a>
            </li>
        </ul>
    </div>
    <div class="right-menu">

    </div>

</div>

