<div class="inside-top">
    <div class="pull-left base-top">
        <span class="pull-left">Orders</span>
        <div class="top-menu">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        All Orders
                    </a>
                </li>
                <li>
                    <a class="top-menu-active" href="javascript:void(0)">
                        Pending Orders
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Unverified Orders
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Cancelled Orders
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Failed Orders
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pull-right base-top2">
        <ul class="report-action">
            <li>
                <input type="text" id="filter-text-box" class="form-control" placeholder="Search this list..." oninput="onFilterTextBoxChanged()" />
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-sync"></i></a></li>
            <li>
                <a href="javascript:void(0)"><i class="fa fa-download"></i> <i class="fa fa-caret-down"></i></a>
            </li>
        </ul>
    </div>
</div>
