
@{
    ViewBag.Title = "Channel_Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Html.RenderPartial("../Shared/PartialView/Setting/_TopMenu");
}
<div class="chb">
    <div class="chtop">
        <a href="@Url.Action("Add_Channel","Setting")"><span class="pull-left"><i class="fa fa-arrow-left"></i></span></a>
    </div>
    <div class="chdt">
        <div class="row">
            <div class="channel-info col-lg-3 col-xs-12 col-md-3 col-sm-3">
                <img src="~/assets/img/channel-logo/S_Amazon.png" />
                <div class="ch-summary">
                    <span class="chttl">Channel Summary</span>
                    <hr />
                    <ul>
                        <li><span>Revenue <span class="pull-right">0</span></span></li>
                        <li><span>Orders <span class="pull-right">0</span></span></li>
                        <li><span>Orders Completed <span class="pull-right">0</span></span></li>
                        <li><span>Failed Orders <span class="pull-right">0</span></span></li>
                        <li><span>Failed Inventory Updates <span class="pull-right">0</span></span></li>
                    </ul>
                </div>
                <div class="ch-summary">
                    <span class="chttl">Orders Sync <a href="javascript:void(0)"><i class="fa fa-sync"></i></a></span>
                    <hr />
                    <ul>
                        <li><span>Orders <span class="pull-right">0</span></span></li>
                        <li><span>Failed Orders <span class="pull-right">0</span></span></li>
                    </ul>
                </div>
                <div class="ch-summary">
                    <span class="chttl">Product Sync <a href="javascript:void(0)"><i class="fa fa-sync"></i></a></span>
                    <hr />
                    <ul>
                        <li><span>Product Live <span class="pull-right">0</span></span></li>
                        <li><span>Product Not Live <span class="pull-right">0</span></span></li>
                        <li><span>Product Mapped <span class="pull-right">0</span></span></li>
                        <li><span>Products UnMapped <span class="pull-right">0</span></span></li>
                        <li><span>New Product Updated <span class="pull-right">0</span></span></li>
                    </ul>
                </div>
            </div>
            <div class="channel-add col-lg-9 col-xs-12 col-md-9 col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active2"><a data-toggle="tab" href="#setting">Setting</a></li>
                    <li><a data-toggle="tab" href="#connector">Connector</a></li>
                </ul>
                <div class="tab-content">
                    <div id="setting" class="tab-pane fade in active show">

                        <div class="header-ttl">
                            <span class="subheader">General Information <a href="javascript:void(0)">(reconfigure)</a></span>
                            <p>Follow these instruction to know how to add Channel <button id="amazonSave" type="submit" class="btn btn-success">Save & Next</button>  </p>
                        </div>
                        <div class="apigendtl">
                            <ul>
                                <li><span>Channel Name</span><span>Flipkart</span></li>
                                <li><span>Channel Name</span><span>Flipkart</span></li>
                            </ul>
                        </div>
                        <div class="header-ttl">
                            <span class="subheader">Order <a href="javascript:void(0)">(reconfigure)</a></span>
                            <p>This section help us to configure important parameters for order and sync.</p>
                        </div>
                        <div class="apigendtl">
                            <ul>
                                <li><span>Order Sync</span><span>Flipkart</span></li>
                            </ul>
                        </div>
                        <div class="header-ttl">
                            <span class="subheader">Inventory <a href="javascript:void(0)">(reconfigure)</a></span>
                            <p>Once the inentory is ON, We will update inventory on channel.</p>
                        </div>
                        <div class="apigendtl">
                            <ul>
                                <li><span>Inventory Sync</span><span>Flipkart</span></li>
                            </ul>
                        </div>

                    </div>
                    <div id="connector" class="tab-pane fade">

                        <div class="header-ttl">
                            <span class="subheader">Amazon MWS API <a href="javascript:void(0)">(reconfigure)</a></span>
                            <p>Provide API credentials that you get when you authorized you as a developer <button id="amaConnector" class="btn btn-success"><i class="fa fa-plug"></i> Connect</button></p>
                        </div>
                        <div class="apigendtl">
                            <ul>
                                <li><span>Sellery Id</span><span>Flipkart</span></li>
                                <li><span>Marketplace Id</span><span>Flipkart</span></li>
                                <li><span>Access Key Id</span><span>Flipkart</span></li>
                                <li><span>Secret Key</span><span>Flipkart</span></li>
                                <li><span>Auth Token</span><span>Flipkart</span></li>
                            </ul>
                        </div>
                        <div class="header-ttl">
                            <span class="subheader">Seller Credentials <a href="javascript:void(0)">(reconfigure)</a></span>
                            <p>Provide Credentials that you use to login into your seller panel.</p>
                        </div>
                        <div class="apigendtl">
                            <ul>
                                <li><span>Username</span><span>Flipkart</span></li>
                                <li><span>Password</span><span>Flipkart</span></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

